body {
    margin: 0;
    padding: 0;
    background: rgba(223, 215, 215, 0.6);
  
    font-family: sans-serif;
  }
  
  
         
  button{
      width: 350px;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.952);
      color: white;
      height: 33px;
      border-radius: 6px;
  }